.chat-box {
    height: auto;
}

.chat-body {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-person {
    display: block;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 4px;
}

.chat-person:hover {
    text-decoration: none;
    border-bottom: 1px solid orange;
}

.conversation {
    display: inline-block;
    vertical-align: middle;
}

.chat-person .chatimg img {
    width: 40px;
    height: 40px;
}

.chat-person .pname {
    font-size: 18px;
    padding-left: 5px;
}

.chat-person .lastmsg {
    font-size: 12px;
    padding-left: 5px;
    color: #ccc;
}