<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello MockForum!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/timeline.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/font.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/timeline.css") %>">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
  </head>

  <body>
    <%= render MockForum.Web.LayoutView, "_header.html", conn: @conn %>
    <div id="featured">&nbsp;</div>
    <div id="wrapper">
      <div id="page" class="container">

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>


        <div id="content">
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div> <!-- /container -->
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
