<h1><%= @thread.title %></h1> <%= link("Edit Title", to: category_thread_path(@conn, :edit, @category, @thread), class: "btn btn-primary") %>

<%= link("Delete Thread", to: category_thread_path(@conn, :delete, @category, @thread), method: :delete, class: "btn btn-primary") %>